<app-toolbar></app-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Articulos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate #myForm="ngForm">
      <kendo-grid [data]="view" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
        (add)="addHandler($event, myForm)" [navigable]="true">
        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand>Agregar nuevo</button>
        </ng-template>
        <kendo-grid-column field="codigo" title="Codigo"></kendo-grid-column>
        <kendo-grid-column field="descripcion" editor="text" title="Descripcion">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <input type="text" [(ngModel)]="dataItem.descripcion" name="descripcion" required>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="precio" editor="numeric" title="Precio">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <input type="number" [(ngModel)]="dataItem.precio" name="precio">
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="imagen" title="Imagen">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <input type="text" [(ngModel)]="dataItem.imagen" name="imagen" required>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="stock" editor="numeric" title="Unidades en Stock">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <input type="number" [(ngModel)]="dataItem.stock" name="stock">
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="command" [width]="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Editar</button>
            <button kendoGridRemoveCommand>Eliminar</button>
            <button kendoGridSaveCommand>
              {{ isNew ? "Agregar" : "Actualizar" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "Desacartar" : "Cancelar" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </form>
  </mat-card-content>
</mat-card>